In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# load in file
pycityschools_file = "Resources/schools_complete.csv"
student_file = "Resources/students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas DataFrames
pycityschools_data_df = pd.read_csv(pycityschools_file)
student_data_df = pd.read_csv(student_file)

pycityschools_data_df.head()
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [4]:
pycityschools_data_complete = pd.merge(student_data_df, pycityschools_data_df, 
                                       on=["school_name", "school_name"], how="left")

pycityschools_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

In [5]:
# Count total schools
total_schools = len(pycityschools_data_complete["School ID"].unique())
total_schools

15

In [6]:
# Calculate the total number of students
total_students = len(pycityschools_data_complete["student_name"].unique())
total_students

32715

In [7]:
# Calculate Total Budget
total_budget = pycityschools_data_df ["budget"].sum()
total_budget

24649428

In [8]:
# Calculate the average math score
average_mathscore = round(pycityschools_data_complete["math_score"].mean(), 2)
average_mathscore

78.99

In [9]:
# Calculate the average reading score
average_readingscore = round(pycityschools_data_complete["reading_score"].mean(), 2)
average_readingscore

81.88

In [10]:
# Calculate the percentage of students with a passing math score (70 or greater)
unique_math_passing = len(pycityschools_data_complete.loc[pycityschools_data_complete["math_score"] >=70]["student_name"].unique())
percent_math_passing = round((unique_math_passing/total_students)*100, 2)
percent_math_passing

77.72

In [11]:
# Calculate the percentage of students with a passing reading score (70 or greater)
unique_reading_passing = len(pycityschools_data_complete.loc[pycityschools_data_complete["reading_score"] >=70]["student_name"].unique())
percent_reading_passing = round((unique_reading_passing/total_students)*100, 2)
percent_reading_passing

87.38

In [12]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)
overall_passing = round((percent_reading_passing + percent_math_passing) / 2, 2)
overall_passing

82.55

In [13]:
# Create a dataframe to hold the above results
summary_df = pd.DataFrame({"Total Schools": [total_schools],
                          "Total Students": [total_students],
                          "Total Budget": [total_budget],
                          "Average Math Score": [average_mathscore],
                          "Average Reading Score": [average_readingscore],
                          "% of Students with Passing Math Score": [percent_math_passing],
                          "% of Students with Passing Reading Score": [percent_reading_passing],
                          "% of Students with Passing Reading and Math Score": [overall_passing]
                          })
summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% of Students with Passing Math Score,% of Students with Passing Reading Score,% of Students with Passing Reading and Math Score
0,15,32715,24649428,78.99,81.88,77.72,87.38,82.55

In [14]:
# Give the displayed data cleaner formatting
summary_df["Total Students"] = summary_df["Total Students"].map("{:,.2f}".format)
summary_df["Total Budget"] = summary_df["Total Budget"].map("${:,.2f}".format)
summary_df["Average Math Score"] = summary_df["Average Math Score"].map("{:,.2f}%".format)
summary_df["Average Reading Score"] = summary_df["Average Reading Score"].map("{:,.2f}%".format)
summary_df["% of Students with Passing Math Score"] = summary_df["% of Students with Passing Math Score"].map("{:,.2f}%".format)
summary_df["% of Students with Passing Reading Score"] = summary_df["% of Students with Passing Reading Score"].map("{:,.2f}%".format)
summary_df["% of Students with Passing Reading and Math Score"] = summary_df["% of Students with Passing Reading and Math Score"].map("{:,.2f}%".format)
summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% of Students with Passing Math Score,% of Students with Passing Reading Score,% of Students with Passing Reading and Math Score
0,15,"32,715.00","$24,649,428.00",78.99%,81.88%,77.72%,87.38%,82.55%

# School Summary

In [15]:
schools_overview_group = pycityschools_data_complete.groupby(["school_name"])
school_summary_df = schools_overview_group.agg({"Student ID": "count",
                            "budget": "max",
                           "math_score": "mean",
                            "reading_score": "mean",
                           })
school_summary_df["Per Student Budget"] = school_summary_df["budget"] / school_summary_df["Student ID"]
school_summary_df

,Student ID,budget,math_score,reading_score,Per Student Budget
school_name,,,,,
Bailey High School,4976,3124928,77.048432,81.033963,628.0
Cabrera High School,1858,1081356,83.061895,83.975780,582.0
Figueroa High School,2949,1884411,76.711767,81.158020,639.0
Ford High School,2739,1763916,77.102592,80.746258,644.0
Griffin High School,1468,917500,83.351499,83.816757,625.0
Hernandez High School,4635,3022020,77.289752,80.934412,652.0
Holden High School,427,248087,83.803279,83.814988,581.0
Huang High School,2917,1910635,76.629414,81.182722,655.0
Johnson High School,4761,3094650,77.072464,80.966394,650.0
Pena High School,962,585858,83.839917,84.044699,609.0
Rodriguez High School,3999,2547363,76.842711,80.744686,637.0
Shelton High School,1761,1056600,83.359455,83.725724,600.0
Thomas High School,1635,1043130,83.418349,83.848930,638.0
Wilson High School,2283,1319574,83.274201,83.989488,578.0
Wright High School,1800,1049400,83.682222,83.955000,583.0

In [16]:
# Passing Math Score
passing_math_stu = pycityschools_data_complete.loc[pycityschools_data_complete["math_score"] >=70]
passing_math_stu

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [17]:
passing_overall_stu = pycityschools_data_complete.loc[(pycityschools_data_complete["math_score"] >=70)&
                                                  (pycityschools_data_complete["reading_score"] >=70)]
passing_overall_stu

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [18]:
passing_reading_stu = pycityschools_data_complete.loc[pycityschools_data_complete["reading_score"] >=70]
passing_reading_stu

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [19]:
passing_math_count = passing_math_stu.groupby(["school_name"]).count()["math_score"]
passing_math_count

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: math_score, dtype: int64

In [20]:
passing_reading_count = passing_reading_stu.groupby(["school_name"]).count()["reading_score"]
passing_reading_count

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: reading_score, dtype: int64

In [21]:
passing_overall_count = passing_overall_stu.groupby(["school_name"]).count()["reading_score"]
passing_overall_count

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: reading_score, dtype: int64

In [22]:
school_summary_df["% Passing Math"] = passing_math_count / school_summary_df["Student ID"] * 100
school_summary_df["% Passing Reading"] = passing_reading_count / school_summary_df["Student ID"] * 100
school_summary_df["% Passing Overall"] = passing_overall_count / school_summary_df["Student ID"] * 100
school_summary_df

,Student ID,budget,math_score,reading_score,Per Student Budget,% Passing Math,% Passing Reading,% Passing Overall
school_name,,,,,,,,
Bailey High School,4976,3124928,77.048432,81.033963,628.0,66.680064,81.933280,54.642283
Cabrera High School,1858,1081356,83.061895,83.975780,582.0,94.133477,97.039828,91.334769
Figueroa High School,2949,1884411,76.711767,81.158020,639.0,65.988471,80.739234,53.204476
Ford High School,2739,1763916,77.102592,80.746258,644.0,68.309602,79.299014,54.289887
Griffin High School,1468,917500,83.351499,83.816757,625.0,93.392371,97.138965,90.599455
Hernandez High School,4635,3022020,77.289752,80.934412,652.0,66.752967,80.862999,53.527508
Holden High School,427,248087,83.803279,83.814988,581.0,92.505855,96.252927,89.227166
Huang High School,2917,1910635,76.629414,81.182722,655.0,65.683922,81.316421,53.513884
Johnson High School,4761,3094650,77.072464,80.966394,650.0,66.057551,81.222432,53.539172
Pena High School,962,585858,83.839917,84.044699,609.0,94.594595,95.945946,90.540541
Rodriguez High School,3999,2547363,76.842711,80.744686,637.0,66.366592,80.220055,52.988247
Shelton High School,1761,1056600,83.359455,83.725724,600.0,93.867121,95.854628,89.892107
Thomas High School,1635,1043130,83.418349,83.848930,638.0,93.272171,97.308869,90.948012
Wilson High School,2283,1319574,83.274201,83.989488,578.0,93.867718,96.539641,90.582567
Wright High School,1800,1049400,83.682222,83.955000,583.0,93.333333,96.611111,90.333333

In [23]:
school_summary_df = school_summary_df.rename(columns={"budget": "Total School Budget",
                                                      "Student ID": "Total Students",
                                                     "math_score": "Average Math Score",
                                                      "reading_score": "Average Reading Score",
                                                     })
school_summary_df

,Total Students,Total School Budget,Average Math Score,Average Reading Score,Per Student Budget,% Passing Math,% Passing Reading,% Passing Overall
school_name,,,,,,,,
Bailey High School,4976,3124928,77.048432,81.033963,628.0,66.680064,81.933280,54.642283
Cabrera High School,1858,1081356,83.061895,83.975780,582.0,94.133477,97.039828,91.334769
Figueroa High School,2949,1884411,76.711767,81.158020,639.0,65.988471,80.739234,53.204476
Ford High School,2739,1763916,77.102592,80.746258,644.0,68.309602,79.299014,54.289887
Griffin High School,1468,917500,83.351499,83.816757,625.0,93.392371,97.138965,90.599455
Hernandez High School,4635,3022020,77.289752,80.934412,652.0,66.752967,80.862999,53.527508
Holden High School,427,248087,83.803279,83.814988,581.0,92.505855,96.252927,89.227166
Huang High School,2917,1910635,76.629414,81.182722,655.0,65.683922,81.316421,53.513884
Johnson High School,4761,3094650,77.072464,80.966394,650.0,66.057551,81.222432,53.539172
Pena High School,962,585858,83.839917,84.044699,609.0,94.594595,95.945946,90.540541
Rodriguez High School,3999,2547363,76.842711,80.744686,637.0,66.366592,80.220055,52.988247
Shelton High School,1761,1056600,83.359455,83.725724,600.0,93.867121,95.854628,89.892107
Thomas High School,1635,1043130,83.418349,83.848930,638.0,93.272171,97.308869,90.948012
Wilson High School,2283,1319574,83.274201,83.989488,578.0,93.867718,96.539641,90.582567
Wright High School,1800,1049400,83.682222,83.955000,583.0,93.333333,96.611111,90.333333

In [24]:
school_summary_df = school_summary_df.style.format({
                          'Total Students': '{:,}', 
                          "Total School Budget": "${:,}", 
                          "Per Student Budget": "${:.0f}",
                          'Average Math Score': "{:.1f}%", 
                          'Average Reading Score': "{:.1f}%", 
                          "% Passing Math": "{:.1f}%", 
                          "% Passing Reading": "{:.1f}%", 
                          "% Passing Overall": "{:.1f}%"
                         })
school_summary_df

# Top Performing Schools (By % Overall Passing)

In [25]:
# Create a table that highlights the top 5 performing schools based on % Overall Passing. Include:

# School Name
# School Type
# Total Students
# Total School Budget
# Per Student Budget
# Average Math Score
# Average Reading Score
# % Passing Math (The percentage of students that passed math.)
# % Passing Reading (The percentage of students that passed reading.)
# % Overall Passing (The percentage of students that passed math and reading.)

In [31]:
# Find top 5 performing schools based on % Overall Passing
#top_five_schools = school_summary_df.sort_values("% Passing Overall", ascending = False)
#top_five_schools.head()

# Bad Performing Schools (By % Overall Passing)

In [32]:
# Create a table that highlights the bottom 5 performing schools based on % Overall Passing. Include all of the same metrics as above.
#bottom_five = school_summary_df.sort_values("% Passing Overall")
#bottom_five.head()

# Math Scores by Grade

In [38]:
# Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

average_math_score_9th = student_data_df.loc[student_data_df['grade'] == '9th'].groupby('school_name')["math_score"].mean()
average_math_score_10th = student_data_df.loc[student_data_df['grade'] == '10th'].groupby('school_name')["math_score"].mean()
average_math_score_11th = student_data_df.loc[student_data_df['grade'] == '11th'].groupby('school_name')["math_score"].mean()
average_math_score_12th = student_data_df.loc[student_data_df['grade'] == '12th'].groupby('school_name')["math_score"].mean()

average_math_scores_grade = pd.DataFrame({
        "9th Grade": average_math_score_9th,
        "10th Grade": average_math_score_10th,
        "11th Grade": average_math_score_11th,
        "12th Grade": average_math_score_12th
        })

average_math_scores_grade.head()

                      9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School    77.083676   76.996772   77.515588   76.492218
Cabrera High School   83.094697   83.154506   82.765560   83.277487
Figueroa High School  76.403037   76.539974   76.884344   77.151369
Ford High School      77.361345   77.672316   76.918058   76.179963
Griffin High School   82.044010   84.229064   83.842105   83.356164

# Reading Score by Grade

In [40]:
# Reading Score 
average_reading_score_9th = student_data_df.loc[student_data_df['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
average_reading_score_10th = student_data_df.loc[student_data_df['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
average_reading_score_11th = student_data_df.loc[student_data_df['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
average_reading_score_12th = student_data_df.loc[student_data_df['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

average_reading_scores_grade = pd.DataFrame({
        "9th Grade": average_reading_score_9th,
        "10th Grade": average_reading_score_10th,
        "11th Grade": average_reading_score_11th,
        "12th Grade": average_reading_score_12th
        })

average_reading_scores_grade.head()

                      9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School    81.303155   80.907183   80.945643   80.912451
Cabrera High School   83.676136   84.253219   83.788382   84.287958
Figueroa High School  81.198598   81.408912   80.640339   81.384863
Ford High School      80.632653   81.262712   80.403642   80.662338
Griffin High School   83.369193   83.706897   84.288089   84.013699

# Scores by School Spending

In [ ]:
# Create a table that breaks down school performances based on average Spending Ranges (Per Student). 
#Use 4 reasonable bins to group school spending. Include in the table each of the following:

# Average Math Score
# Average Reading Score
# % Passing Math (The percentage of students that passed math.)
# % Passing Reading (The percentage of students that passed reading.)
# % Overall Passing (The percentage of students that passed math and reading.)

In [ ]:
# Create Bins and their labels
bins = [0, 550, 600, 650, 700]
group_labels = ["Les than $549", "$550 to $599", "$600 to $650", "Greater than $700"]

# Scores by School Size

# Scores by School Type