In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# load in file
pycityschools_file = "Resources/schools_complete.csv"
student_file = "Resources/students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas DataFrames
pycityschools_data_df = pd.read_csv(pycityschools_file)
student_data_df = pd.read_csv(student_file)

pycityschools_data_df.head()
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [4]:
pycityschools_data_complete = pd.merge(student_data_df, pycityschools_data_df, 
                                       on=["school_name", "school_name"], how="left")

pycityschools_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

In [5]:
# Count total schools
unique_schools = pycityschools_data_complete["School ID"].unique()
total_schools = len(unique_schools)
total_schools

15

In [6]:
# Calculate the total number of students
unique_students = pycityschools_data_complete["student_name"].unique()
total_students = len(unique_students)
total_students

32715

In [7]:
# Calculate Total Budget
total_budget = pycityschools_data_complete["budget"].sum()
total_budget

82932329558

In [8]:
# Calculate the average math score
average_mathscore = round(pycityschools_data_complete["math_score"].mean(), 2)
average_mathscore

78.99

In [9]:
# Calculate the average reading score
average_readingscore = round(pycityschools_data_complete["reading_score"].mean(), 2)
average_readingscore

81.88

In [10]:
# Calculate the percentage of students with a passing math score (70 or greater)
math_passing = pycityschools_data_complete.loc[pycityschools_data_complete["math_score"] =70]["math_score"].count()
percent_math_passing = (math_passing/total_students) * 100
percent_math_passing

89.77533241632278

In [11]:
# Calculate the percentage of students with a passing reading score (70 or greater)
reading_passing = pycityschools_data_complete.loc[pycityschools_data_complete["reading_score"] >=70]["reading_score"].count()
percent_reading_passing = (total_students/reading_passing)*100
percent_reading_passing

97.33710205296043

In [12]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)
overall_passing = round((percent_reading_passing + percent_math_passing) / 2, 2)
overall_passing

93.56

In [13]:
# Create a dataframe to hold the above results
summary_df = pd.DataFrame({"Total Schools": [total_schools],
                          "Total Students": [total_students],
                          "Total Budget": [total_budget],
                          "Average Math Score": [average_mathscore],
                          "Average Reading Score": [average_readingscore],
                          "% of Students with Passing Math Score": [percent_math_passing],
                          "% of Students with Passing Reading Score": [percent_reading_passing],
                          "% of students with Passing Reading and Math Score": [overall_passing]
                          })
summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% of Students with Passing Math Score,% of Students with Passing Reading Score,% of students with Passing Reading and Math Score
0,15,32715,82932329558,78.99,81.88,89.775332,97.337102,93.56

In [18]:
# Give the displayed data cleaner formatting
summary_df["Total Students"] = summary_df["Total Students"].map("{:,.2f}".format)
summary_df["Total Budget"] = summary_df["Total Budget"].map("{:,.2f}".format)
summary_df

ValueError: Unknown format code 'f' for object of type 'str'

# School Summary

In [15]:
# Create an overview table that summarizes key metrics about each school
    # School Name
    # School Type
    # Total Students
    # Total School Budget
    # Per Student Budget
    # Average Math Score
    # Average Reading Score
    # % Passing Math
    # % Passing Reading
    # % Overall Passing (The percentage of students that passed math and reading.)
    
# Create a dataframe to hold the above results

# Top Performing Schools (By % Overall Passing)

# Bad Performing Schools (By % Overall Passing)

# Math Scores by Grade

# Reading Score by Grade

# Scores by School Spending

# Scores by School Size

# Scores by School Type