In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# load in file
pycityschools_file = "Resources/schools_complete.csv"
student_file = "Resources/students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas DataFrames
pycityschools_data_df = pd.read_csv(pycityschools_file)
student_data_df = pd.read_csv(student_file)

pycityschools_data_df.head()
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [4]:
pycityschools_data_complete = pd.merge(student_data_df, pycityschools_data_df, 
                                       on=["school_name", "school_name"], how="left")

pycityschools_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

In [5]:
# Count total schools
total_schools = pycityschools_data_complete["School ID"].count()
total_schools

39170

In [6]:
# Calculate the total number of students
total_students = pycityschools_data_complete["size"].sum()
total_students

130551930

In [7]:
# Calculate Total Budget
total_budget = pycityschools_data_complete["budget"].sum()
total_budget

82932329558

In [8]:
# Calculate the average math score
average_mathscore = round(pycityschools_data_complete["math_score"].mean(), 2)
average_mathscore

78.99

In [9]:
# Calculate the average reading score
average_readingscore = round(pycityschools_data_complete["reading_score"].mean(), 2)
average_readingscore

81.88

In [10]:
# Calculate the percentage of students with a passing math score (70 or greater)
math_passing = round(pycityschools_data_complete.query("math_score >=70")["School ID"].count() / total_students*100, 2)
math_passing

0.02

In [11]:
# Calculate the percentage of students with a passing reading score (70 or greater)
reading_passing = round(pycityschools_data_complete.query("reading_score >=70")["School ID"].count() / total_students*100, 2)
reading_passing

0.03

In [12]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)
overall_passing = round((reading_passing + math_passing) / 2, 2)
overall_passing

0.02

In [13]:
# Create a dataframe to hold the above results
summary_df = pd.DataFrame({"Total Schools": [total_schools],
                          "Total Students": [total_students],
                          "Total Budget": [total_budget],
                          "Average Math Score": [average_mathscore],
                          "Average Reading Score": [average_readingscore],
                          "% of Students with Passing Math Score": [math_passing],
                          "% of Students with Passing Reading Score": [reading_passing],
                          "% of students with Passing Reading and Math Score": [overall_passing]
                          })
summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% of Students with Passing Math Score,% of Students with Passing Reading Score,% of students with Passing Reading and Math Score
0,39170,130551930,82932329558,78.99,81.88,0.02,0.03,0.02

In [14]:
# Give the displayed data cleaner formatting

# School Summary

In [15]:
# Create an overview table that summarizes key metrics about each school
    # School Name
    # School Type
    # Total Students
    # Total School Budget
    # Per Student Budget
    # Average Math Score
    # Average Reading Score
    # % Passing Math
    # % Passing Reading
    # % Overall Passing (The percentage of students that passed math and reading.)
    
# Create a dataframe to hold the above results

# Top Performing Schools (By % Overall Passing)

# Bad Performing Schools (By % Overall Passing)

# Math Scores by Grade

# Reading Score by Grade

# Scores by School Spending

# Scores by School Size

# Scores by School Type